In [33]:
import urllib.request as ur,json,pandas as pd

#conexión al backend, si se pone http://localhost:3000/predProm/número da el curso de moodle al que entramos.
url = "http://localhost:3000/predProm"
response = ur.urlopen(url)
data = json.loads(response.read())

promedio_Y = data[0]
cantidad_foros = data[1]
cantidad_cursos_alumno = data[2]
cantidad_visitas_curso = data[3]
cantidad_notas = data[4]
cantidad_Acciones = data[5]

In [34]:
#es normalize ya que viene de una varibale
df_promedio_Y = pd.json_normalize(promedio_Y)
df_cantidad_foros = pd.json_normalize(cantidad_foros)
df_cantidad_cursos_alumno = pd.json_normalize(cantidad_cursos_alumno)
df_cantidad_visitas_curso = pd.json_normalize(cantidad_visitas_curso)
df_cantidad_notas = pd.json_normalize(cantidad_notas)
df_cantidad_Acciones = pd.json_normalize(cantidad_Acciones)

In [35]:
df_cantidad_cursos_alumno= df_cantidad_cursos_alumno.drop("rownum",1)

In [36]:
df_cantidad_cursos_alumno

     userid  courseid  firstname   lastname         shortname
0         2         2   Cristian   Olivares         INF108-18
1         2         3   Cristian   Olivares  UAAEP - Tutorías
2         2         4   Cristian   Olivares  openTERA - Tesis
3         2         5   Cristian   Olivares  TUT Álgebra 2018
4         2         9   Cristian   Olivares             A-ICI
..      ...       ...        ...        ...               ...
486     380        33      Martn     Suarez        OE-2020-G2
487     381        33       Daro  Torrealba        OE-2020-G2
488     382        33    Gonzalo    Vergara        OE-2020-G2
489     383        33  Alejandro  Villagran        OE-2020-G2
490     384        33     Nicols     Yvenes        OE-2020-G2

[491 rows x 5 columns]

In [37]:
df_cantidad_cursos_alumno["userid"].value_counts()

2      23
4      11
70      8
185     6
68      5
       ..
226     1
227     1
228     1
229     1
384     1
Name: userid, Length: 354, dtype: int64

In [38]:
#de la función value_counts lo transformo en dataframe. 
df_cantidad_cursos_alumno = df_cantidad_cursos_alumno["userid"].value_counts().reset_index()
df_cantidad_cursos_alumno.columns = ['userid','cantidad_cursos']
df_cantidad_cursos_alumno

     userid  cantidad_cursos
0         2               23
1         4               11
2        70                8
3       185                6
4        68                5
..      ...              ...
349     226                1
350     227                1
351     228                1
352     229                1
353     384                1

[354 rows x 2 columns]

In [39]:
#cantidad de notas
df_cantidad_notas['c_notas'][0]

31

In [40]:
#Proceso de unión de dataframe, a la vez de resetear indices. 

df_brigido = df_cantidad_visitas_curso.set_index('userid').join(df_cantidad_foros.set_index('userid'))
df_brigido = df_brigido.reset_index()
df_brigido = df_brigido.set_index('userid').join(df_cantidad_cursos_alumno.set_index('userid'))
df_brigido = df_brigido.reset_index()
df_brigido = df_brigido.set_index('userid').join(df_cantidad_Acciones.set_index('userid'))
df_brigido = df_brigido.reset_index()
df_brigido = df_brigido.set_index('userid').join(df_promedio_Y.set_index('userid'))
df_brigido = df_brigido.reset_index()
df_brigido

,userid,firstname,lastname,cantidad_de_visitas,contador,cantidad_cursos,foo,prom
0,2,Cristian,Olivares,4094,28.0,23,7156,NaN
1,4,Dante,Saavedra,247,NaN,11,886,NaN
2,5,Matías,Cárcamo,62,NaN,4,584,NaN
3,9,Renato,Borquez,533,2.0,1,599,99.223810
4,10,Tomás,Barraza,563,NaN,1,628,100.000000
5,11,Karinna,Inostroza,101,NaN,2,113,14.714286
6,12,Nicole,Kiel,641,NaN,1,756,106.928571
7,13,Nicolás,Fuentes,1020,2.0,1,1154,104.011112
8,14,Eduardo,Stegmaier,475,NaN,1,534,95.466667
9,15,Carlos,Ramirez,696,2.0,1,774,101.133333
10,16,Constanza,Saldivia,784,1.0,1,881,124.472223
11,17,Javiera,Reyes,722,NaN,1,801,128.138890
12,18,Enrique,Aviles,138,NaN,1,151,14.616668
13,19,Sebastián,Flores,1165,NaN,1,1261,132.833333
14,20,Martina,Oyarzun,611,1.0,1,682,125.811112
15,21,Bárbara,Vargas,543,NaN,1,609,117.250000
16,22,Javiera,Martinez,124,NaN,1,143,2.666667
17,23,Andrea,Solar,593,2.0,1,671,122.888888
18,24,Diego,Gonzalez,908,NaN,1,970,84.111112
19,25,Mariane,Sanchez,820,2.0,1,904,125.111112
20,26,Krishna,Candia,649,NaN,1,750,109.371429
21,27,Astrid,Weber,1084,1.0,1,1244,128.363636
22,28,Rocio,Ancalipe,564,NaN,1,625,108.538462
23,29,José,Ortega,109,NaN,1,122,14.500000
24,30,Eduardo,Andrade,774,NaN,1,919,97.416668
25,31,Catalina,Ruiz,165,NaN,1,195,38.555556
26,32,Pablo,Rios,1191,NaN,1,1259,94.393940
27,33,Valentina,Palma,865,NaN,1,939,123.472223
28,34,Jonathan,Sanchez,855,2.0,1,959,94.738096
29,35,Sandra,Sanzana,706,1.0,1,772,91.600000
30,36,Claudio,Vergara,831,NaN,1,904,91.619047
31,37,Matias,Soto,538,2.0,1,614,128.177778
32,38,Javier,Cancino,832,3.0,1,1075,97.452381
33,39,Luis,Molina,787,1.0,1,849,105.472222
34,40,Nicolas,Móndaca,1707,NaN,2,1798,92.102565
35,41,Martín,Fajardo,1298,NaN,1,1482,92.971429
36,42,Jorge,Vera,529,1.0,1,631,80.877777
37,43,Matias,Gonzalez,864,1.0,1,941,114.444445
38,45,Francisca,Salinas,559,1.0,1,634,117.500000
39,46,Paula,Romero,609,3.0,1,688,120.833333
40,47,Aliro,Angulo,562,NaN,1,637,87.714286
41,48,Jacqueline,Japke,32,NaN,1,33,1.600000
42,49,Joaquín,Hildebrandt,69,NaN,1,74,1.777777
43,50,Catalina,Barrientos,810,NaN,1,955,91.622223
44,51,Isaías,Carvajal,484,NaN,1,539,101.905555
45,52,Ignacio,Barri,753,NaN,1,810,81.153846
46,53,Ana,Aravena,772,NaN,1,1006,131.611112
47,54,Nicolas,Gomez,524,NaN,1,652,105.261112
48,64,Vicente,Fontecilla,516,1.0,1,620,120.418182
49,65,Carlos,Lopez,530,NaN,1,600,66.238096
50,66,Gabriel,Mosquera,639,NaN,1,698,101.636364
51,67,Nicolas,Martinez,86,NaN,1,93,1.600000
52,74,Rocio,Navarrete,1499,NaN,1,1636,67.052380
53,75,Matias,Leal,509,NaN,1,602,127.666667
54,111,Jose Luis,Rozas,446,1.0,1,472,48.476191
55,114,Pablo,Huijse,2,NaN,3,2,NaN
56,185,Elliot,Ide Pozo,7,NaN,6,8,NaN

In [41]:
#unión de tabla número de notas
df_brigido['numero_notas'] = df_cantidad_notas['c_notas'][0]
df_brigido

,userid,firstname,lastname,cantidad_de_visitas,contador,cantidad_cursos,foo,prom,numero_notas
0,2,Cristian,Olivares,4094,28.0,23,7156,NaN,31
1,4,Dante,Saavedra,247,NaN,11,886,NaN,31
2,5,Matías,Cárcamo,62,NaN,4,584,NaN,31
3,9,Renato,Borquez,533,2.0,1,599,99.223810,31
4,10,Tomás,Barraza,563,NaN,1,628,100.000000,31
5,11,Karinna,Inostroza,101,NaN,2,113,14.714286,31
6,12,Nicole,Kiel,641,NaN,1,756,106.928571,31
7,13,Nicolás,Fuentes,1020,2.0,1,1154,104.011112,31
8,14,Eduardo,Stegmaier,475,NaN,1,534,95.466667,31
9,15,Carlos,Ramirez,696,2.0,1,774,101.133333,31
10,16,Constanza,Saldivia,784,1.0,1,881,124.472223,31
11,17,Javiera,Reyes,722,NaN,1,801,128.138890,31
12,18,Enrique,Aviles,138,NaN,1,151,14.616668,31
13,19,Sebastián,Flores,1165,NaN,1,1261,132.833333,31
14,20,Martina,Oyarzun,611,1.0,1,682,125.811112,31
15,21,Bárbara,Vargas,543,NaN,1,609,117.250000,31
16,22,Javiera,Martinez,124,NaN,1,143,2.666667,31
17,23,Andrea,Solar,593,2.0,1,671,122.888888,31
18,24,Diego,Gonzalez,908,NaN,1,970,84.111112,31
19,25,Mariane,Sanchez,820,2.0,1,904,125.111112,31
20,26,Krishna,Candia,649,NaN,1,750,109.371429,31
21,27,Astrid,Weber,1084,1.0,1,1244,128.363636,31
22,28,Rocio,Ancalipe,564,NaN,1,625,108.538462,31
23,29,José,Ortega,109,NaN,1,122,14.500000,31
24,30,Eduardo,Andrade,774,NaN,1,919,97.416668,31
25,31,Catalina,Ruiz,165,NaN,1,195,38.555556,31
26,32,Pablo,Rios,1191,NaN,1,1259,94.393940,31
27,33,Valentina,Palma,865,NaN,1,939,123.472223,31
28,34,Jonathan,Sanchez,855,2.0,1,959,94.738096,31
29,35,Sandra,Sanzana,706,1.0,1,772,91.600000,31
30,36,Claudio,Vergara,831,NaN,1,904,91.619047,31
31,37,Matias,Soto,538,2.0,1,614,128.177778,31
32,38,Javier,Cancino,832,3.0,1,1075,97.452381,31
33,39,Luis,Molina,787,1.0,1,849,105.472222,31
34,40,Nicolas,Móndaca,1707,NaN,2,1798,92.102565,31
35,41,Martín,Fajardo,1298,NaN,1,1482,92.971429,31
36,42,Jorge,Vera,529,1.0,1,631,80.877777,31
37,43,Matias,Gonzalez,864,1.0,1,941,114.444445,31
38,45,Francisca,Salinas,559,1.0,1,634,117.500000,31
39,46,Paula,Romero,609,3.0,1,688,120.833333,31
40,47,Aliro,Angulo,562,NaN,1,637,87.714286,31
41,48,Jacqueline,Japke,32,NaN,1,33,1.600000,31
42,49,Joaquín,Hildebrandt,69,NaN,1,74,1.777777,31
43,50,Catalina,Barrientos,810,NaN,1,955,91.622223,31
44,51,Isaías,Carvajal,484,NaN,1,539,101.905555,31
45,52,Ignacio,Barri,753,NaN,1,810,81.153846,31
46,53,Ana,Aravena,772,NaN,1,1006,131.611112,31
47,54,Nicolas,Gomez,524,NaN,1,652,105.261112,31
48,64,Vicente,Fontecilla,516,1.0,1,620,120.418182,31
49,65,Carlos,Lopez,530,NaN,1,600,66.238096,31
50,66,Gabriel,Mosquera,639,NaN,1,698,101.636364,31
51,67,Nicolas,Martinez,86,NaN,1,93,1.600000,31
52,74,Rocio,Navarrete,1499,NaN,1,1636,67.052380,31
53,75,Matias,Leal,509,NaN,1,602,127.666667,31
54,111,Jose Luis,Rozas,446,1.0,1,472,48.476191,31
55,114,Pablo,Huijse,2,NaN,3,2,NaN,31
56,185,Elliot,Ide Pozo,7,NaN,6,8,NaN,31

In [42]:
#rellenar valores null
df_brigido['prom'] =df_brigido['prom'].fillna(0)
df_brigido['contador'] =df_brigido['contador'].fillna(0)
df_brigido

,userid,firstname,lastname,cantidad_de_visitas,contador,cantidad_cursos,foo,prom,numero_notas
0,2,Cristian,Olivares,4094,28.0,23,7156,0.000000,31
1,4,Dante,Saavedra,247,0.0,11,886,0.000000,31
2,5,Matías,Cárcamo,62,0.0,4,584,0.000000,31
3,9,Renato,Borquez,533,2.0,1,599,99.223810,31
4,10,Tomás,Barraza,563,0.0,1,628,100.000000,31
5,11,Karinna,Inostroza,101,0.0,2,113,14.714286,31
6,12,Nicole,Kiel,641,0.0,1,756,106.928571,31
7,13,Nicolás,Fuentes,1020,2.0,1,1154,104.011112,31
8,14,Eduardo,Stegmaier,475,0.0,1,534,95.466667,31
9,15,Carlos,Ramirez,696,2.0,1,774,101.133333,31
10,16,Constanza,Saldivia,784,1.0,1,881,124.472223,31
11,17,Javiera,Reyes,722,0.0,1,801,128.138890,31
12,18,Enrique,Aviles,138,0.0,1,151,14.616668,31
13,19,Sebastián,Flores,1165,0.0,1,1261,132.833333,31
14,20,Martina,Oyarzun,611,1.0,1,682,125.811112,31
15,21,Bárbara,Vargas,543,0.0,1,609,117.250000,31
16,22,Javiera,Martinez,124,0.0,1,143,2.666667,31
17,23,Andrea,Solar,593,2.0,1,671,122.888888,31
18,24,Diego,Gonzalez,908,0.0,1,970,84.111112,31
19,25,Mariane,Sanchez,820,2.0,1,904,125.111112,31
20,26,Krishna,Candia,649,0.0,1,750,109.371429,31
21,27,Astrid,Weber,1084,1.0,1,1244,128.363636,31
22,28,Rocio,Ancalipe,564,0.0,1,625,108.538462,31
23,29,José,Ortega,109,0.0,1,122,14.500000,31
24,30,Eduardo,Andrade,774,0.0,1,919,97.416668,31
25,31,Catalina,Ruiz,165,0.0,1,195,38.555556,31
26,32,Pablo,Rios,1191,0.0,1,1259,94.393940,31
27,33,Valentina,Palma,865,0.0,1,939,123.472223,31
28,34,Jonathan,Sanchez,855,2.0,1,959,94.738096,31
29,35,Sandra,Sanzana,706,1.0,1,772,91.600000,31
30,36,Claudio,Vergara,831,0.0,1,904,91.619047,31
31,37,Matias,Soto,538,2.0,1,614,128.177778,31
32,38,Javier,Cancino,832,3.0,1,1075,97.452381,31
33,39,Luis,Molina,787,1.0,1,849,105.472222,31
34,40,Nicolas,Móndaca,1707,0.0,2,1798,92.102565,31
35,41,Martín,Fajardo,1298,0.0,1,1482,92.971429,31
36,42,Jorge,Vera,529,1.0,1,631,80.877777,31
37,43,Matias,Gonzalez,864,1.0,1,941,114.444445,31
38,45,Francisca,Salinas,559,1.0,1,634,117.500000,31
39,46,Paula,Romero,609,3.0,1,688,120.833333,31
40,47,Aliro,Angulo,562,0.0,1,637,87.714286,31
41,48,Jacqueline,Japke,32,0.0,1,33,1.600000,31
42,49,Joaquín,Hildebrandt,69,0.0,1,74,1.777777,31
43,50,Catalina,Barrientos,810,0.0,1,955,91.622223,31
44,51,Isaías,Carvajal,484,0.0,1,539,101.905555,31
45,52,Ignacio,Barri,753,0.0,1,810,81.153846,31
46,53,Ana,Aravena,772,0.0,1,1006,131.611112,31
47,54,Nicolas,Gomez,524,0.0,1,652,105.261112,31
48,64,Vicente,Fontecilla,516,1.0,1,620,120.418182,31
49,65,Carlos,Lopez,530,0.0,1,600,66.238096,31
50,66,Gabriel,Mosquera,639,0.0,1,698,101.636364,31
51,67,Nicolas,Martinez,86,0.0,1,93,1.600000,31
52,74,Rocio,Navarrete,1499,0.0,1,1636,67.052380,31
53,75,Matias,Leal,509,0.0,1,602,127.666667,31
54,111,Jose Luis,Rozas,446,1.0,1,472,48.476191,31
55,114,Pablo,Huijse,2,0.0,3,2,0.000000,31
56,185,Elliot,Ide Pozo,7,0.0,6,8,0.000000,31

In [43]:
import numpy as np
#elimino dataframe y además reinicio el indice.

df_brigido = df_brigido.drop(df_brigido[df_brigido['prom']==0.0].index)
df_brigido.index = np.arange(0, len(df_brigido))
df_brigido

,userid,firstname,lastname,cantidad_de_visitas,contador,cantidad_cursos,foo,prom,numero_notas
0,9,Renato,Borquez,533,2.0,1,599,99.223810,31
1,10,Tomás,Barraza,563,0.0,1,628,100.000000,31
2,11,Karinna,Inostroza,101,0.0,2,113,14.714286,31
3,12,Nicole,Kiel,641,0.0,1,756,106.928571,31
4,13,Nicolás,Fuentes,1020,2.0,1,1154,104.011112,31
5,14,Eduardo,Stegmaier,475,0.0,1,534,95.466667,31
6,15,Carlos,Ramirez,696,2.0,1,774,101.133333,31
7,16,Constanza,Saldivia,784,1.0,1,881,124.472223,31
8,17,Javiera,Reyes,722,0.0,1,801,128.138890,31
9,18,Enrique,Aviles,138,0.0,1,151,14.616668,31
10,19,Sebastián,Flores,1165,0.0,1,1261,132.833333,31
11,20,Martina,Oyarzun,611,1.0,1,682,125.811112,31
12,21,Bárbara,Vargas,543,0.0,1,609,117.250000,31
13,22,Javiera,Martinez,124,0.0,1,143,2.666667,31
14,23,Andrea,Solar,593,2.0,1,671,122.888888,31
15,24,Diego,Gonzalez,908,0.0,1,970,84.111112,31
16,25,Mariane,Sanchez,820,2.0,1,904,125.111112,31
17,26,Krishna,Candia,649,0.0,1,750,109.371429,31
18,27,Astrid,Weber,1084,1.0,1,1244,128.363636,31
19,28,Rocio,Ancalipe,564,0.0,1,625,108.538462,31
20,29,José,Ortega,109,0.0,1,122,14.500000,31
21,30,Eduardo,Andrade,774,0.0,1,919,97.416668,31
22,31,Catalina,Ruiz,165,0.0,1,195,38.555556,31
23,32,Pablo,Rios,1191,0.0,1,1259,94.393940,31
24,33,Valentina,Palma,865,0.0,1,939,123.472223,31
25,34,Jonathan,Sanchez,855,2.0,1,959,94.738096,31
26,35,Sandra,Sanzana,706,1.0,1,772,91.600000,31
27,36,Claudio,Vergara,831,0.0,1,904,91.619047,31
28,37,Matias,Soto,538,2.0,1,614,128.177778,31
29,38,Javier,Cancino,832,3.0,1,1075,97.452381,31
30,39,Luis,Molina,787,1.0,1,849,105.472222,31
31,40,Nicolas,Móndaca,1707,0.0,2,1798,92.102565,31
32,41,Martín,Fajardo,1298,0.0,1,1482,92.971429,31
33,42,Jorge,Vera,529,1.0,1,631,80.877777,31
34,43,Matias,Gonzalez,864,1.0,1,941,114.444445,31
35,45,Francisca,Salinas,559,1.0,1,634,117.500000,31
36,46,Paula,Romero,609,3.0,1,688,120.833333,31
37,47,Aliro,Angulo,562,0.0,1,637,87.714286,31
38,48,Jacqueline,Japke,32,0.0,1,33,1.600000,31
39,49,Joaquín,Hildebrandt,69,0.0,1,74,1.777777,31
40,50,Catalina,Barrientos,810,0.0,1,955,91.622223,31
41,51,Isaías,Carvajal,484,0.0,1,539,101.905555,31
42,52,Ignacio,Barri,753,0.0,1,810,81.153846,31
43,53,Ana,Aravena,772,0.0,1,1006,131.611112,31
44,54,Nicolas,Gomez,524,0.0,1,652,105.261112,31
45,64,Vicente,Fontecilla,516,1.0,1,620,120.418182,31
46,65,Carlos,Lopez,530,0.0,1,600,66.238096,31
47,66,Gabriel,Mosquera,639,0.0,1,698,101.636364,31
48,67,Nicolas,Martinez,86,0.0,1,93,1.600000,31
49,74,Rocio,Navarrete,1499,0.0,1,1636,67.052380,31
50,75,Matias,Leal,509,0.0,1,602,127.666667,31
51,111,Jose Luis,Rozas,446,1.0,1,472,48.476191,31

In [50]:
from sqlalchemy import create_engine


engine = create_engine('sqlite:///prediccion.db')
#engine = create_engine('postgresql://scott:tiger@localhost/mydatabase')
#cadena_conexion = 'mysql://root@localhost:3306/prediccion'
#conexion = create_engine(engine)

AttributeError: 'Engine' object has no attribute '_instantiate_plugins'

In [26]:
import sklearn
from sklearn import metrics 
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import KFold

In [27]:
#almacenamos los datos, en x tenemos las carácteristicas y la y será el elemento a predecir.
X = df_brigido.iloc[:,[3,4,5,6,8]].values
y = df_brigido.iloc[:,7].values # y contiene a class

In [28]:
#dividimos en sets de entrenamiento y test
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.75, random_state = 25)

In [29]:
#método Ordinary Least Squares (OLS) a partir de los datos de entrenamiento balanceado anteriormente.
import statsmodels.api as sm
est = sm.OLS(y_train, X_train).fit()
print(est.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.477
Model:                            OLS   Adj. R-squared:                  0.416
Method:                 Least Squares   F-statistic:                     7.765
Date:                Sun, 23 Aug 2020   Prob (F-statistic):           0.000147
Time:                        20:08:04   Log-Likelihood:                -183.75
No. Observations:                  39   AIC:                             377.5
Df Residuals:                      34   BIC:                             385.8
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1            -0.0774      0.152     -0.509      0.614      -0.386       0.232
x2             7.8366      5.538      1.415      0.166      -3.417      19.090
x3           -54.8553     35.023     -1.566      0.127    -126.031      16.320
x4             0.1358      0.139      0.978      0.335      -0.146       0.418
const          2.8919      1.094      2.644      0.012       0.669       5.115
==============================================================================
Omnibus:                        1.659   Durbin-Watson:                   2.056
Prob(Omnibus):                  0.436   Jarque-Bera (JB):                1.454
Skew:                          -0.456   Prob(JB):                        0.483
Kurtosis:                       2.750   Cond. No.                     8.68e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 8.68e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [30]:
#función para la variable y, retornando a partir de la multiplicación de coeficientes
def predict_de(cantidad_visitas,cantidad_foros,cantidad_cursos,acciones,n_notas):
    return  -0.0774 * cantidad_visitas + cantidad_foros * 7.8366  + cantidad_cursos* -54.8553 + acciones * 0.1358  + n_notas*2.8919

In [31]:
#predicción alumno
predict_de(533,2,1,599,31)

90.55680000000001